@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
/* font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
/* font-family: 'Montserrat', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
/* font-family: 'Playfair Display', serif; */
@import url('https://fonts.googleapis.com/css?family=Kite+One&display=swap');
/* font-family: 'Kite One', sans-serif; */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

html {
	scroll-behavior: smooth;
}

a {
	color: #000;
	text-decoration: none;
}

h1 {
	font-size: 45px;
	font-weight: lighter;
	padding-bottom: 20px;
	letter-spacing: 3px;
	font-family: 'Kite One', sans-serif;
}

/* NAV */

.head {
	background: url("../images/coffee.gif") no-repeat center center fixed;
	background-size: cover;
	height: 100vh;
	width: 100%;
}

.nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: #000;
	background-color: #fff;
	letter-spacing: 1px;
	font-size: 20px;
	padding: 10px 0;
	border-bottom: 1px solid #000;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

.nav i {
	font-size: 40px;
	right: 0;
	display: none;
}

.nav img {
	width: 200px;
	height: 50px;
}

.nav ul {
	list-style-type: none;
	display: flex;
	align-items: center;
}

.nav ul li {
	margin-left: 10px;
	font-family: 'Kite One', sans-serif;
}

.nav ul li a {
	text-decoration: none;
	position: relative;
}

.nav ul li a:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	bottom: 0;
	left: 0;
	background-color: #000;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}

.nav ul li a:hover:before {
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}

.nav ul li a:active {
	color: #000;
}

.head-content {
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 90vh;
}

.head-content p {
	font-size: 45px;
	font-style: italic;
	color: #fff;
	letter-spacing: 1px;
	font-family: 'Kite One', sans-serif;
}

button {
	margin-top: 30px;
	border: 1px solid #000;
	background-color: rgba(255, 255, 255, .7);
	padding: 10px 40px;
	font-size: 25px;
	border-radius: 30px;
	text-transform: uppercase;
	transition: background-color .5s;
}

button:focus,
textarea:focus,
input[type="text"]:focus {
	outline: none;
}

button:hover {
	transition: 1s;
	background-color: rgba(255, 255, 255);
	cursor: pointer;
}

/* END NAV */

/* ABOUT */

.about,
.menu {
	margin: 50px 12%;
}

.about h1 {
	padding-bottom: 50px;
	text-align: center;
}

.about-container {
	display: flex;
}

.about-container p {
	font-size: 25px;
}

.about img {
	width: 500px;
	height: 100%;
	padding-left: 20px;
}

/* END ABOUT */

/* DELIVERY */

.delivery {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	width: 100%;
	justify-content: center;
	padding: 50px 0;
	background-color: #222;
	color: #fff;
}

.delivery p {
	font-size: 25px;
}

.delivery-container {
	width: 60%;
}

.contact button:hover {
	background-color: #222;
	color: #fff;
}

.delivery button {
	background-color: #222;
	border: 1px solid #fff;
	color: #fff;
}

.delivery button:hover {
	background-color: #fff;
	color: #000;
	border: 1px solid #000;
}

/* END DELIVERY */

/* MENU */

.menu h1 {
	padding-bottom: 50px;
	text-align: center;
}

.menu p {
	font-size: 25px;
	padding-left: 20px;
}

.menu-container {
	display: flex;
}

.menu-container img {
	width: 500px;
	height: 100%;
	padding-right: 30px;
}

/* END MENU */

/* CONTACT */

.follow {
	background-color: #222;
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 50px 0;
}

.follow h1 {
	font-size: 45px;
	font-family: 'Kite One', sans-serif;
	letter-spacing: 3px;
	font-weight: lighter;
}

.follow-icons ul {
	display: flex;
}

.follow-icons ul li {
	padding: 20px;
	font-size: 50px;
}

.follow-icons ul a {
	color: #fff;
}

.contact {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	width: 100%;
	margin: 50px 0;
}

.contact-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.contact-form h1 {
	font-family: 'Kite One', sans-serif;
	font-size: 45px;
	font-weight: lighter;
	padding-bottom: 20px;
}

input[type="text"],
textarea {
	border: 1px solid #000;
	font-size: 20px;
	margin-top: 20px;
	padding: 5px 15px;
	border-radius: 15px;
}

input[type="text"],
textarea,
.contact-form button {
	width: 40%;
}

.contact-form button i {
	padding-left: 5px;
	font-size: 20px;
}

/* END CONTACT */

/* FOOTER */

footer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 20px 0;
	background-color: #222;
	color: #fff;
}

footer a {
	color: #fff;
}

ul {
	list-style-type: none;
}

ul li {
	font-size: 18px;
	padding-bottom: 5px;
}

.icons {
	display: flex;
}

.icons li {
	padding-right: 10px;
}

.icons a {
	color: #fff;
}

.icons i {
	font-size: 25px;
}

/* END FOOTER */

@media only screen and (max-width: 1000px) {
	.about img,
	.menu img {
		width: 400px;
	}

	.about,
	.menu {
		margin: 50px;
	}
}

@media only screen and (max-width: 800px) {
	.about img,
	.menu img {
		width: 350px;
	}

	.about-container p,
	.menu p,
	.delivery p {
		font-size: 20px;
	}
}

@media only screen and (max-width: 700px) {
	.nav ul {
		flex-direction: column;
		position: absolute;
		top: 100%;
		background-color: #fff;
		width: 100%;
		height: 100vh;
		justify-content: space-around;
		display: none;
		animation: slide .5s;
	}

	.nav i {
		display: block;
	}

	.head-content p {
		margin: 0;
	}

	.about-container {
		flex-direction: column-reverse
	}

	.menu-container {
		flex-direction: column;
	}

	.about-container,
	.menu-container {
		justify-content: center;
		align-items: center;
	}

	.about h1,
	.menu h1 {
		padding-bottom: 20px;
	}

	.about,
	.menu {
		margin: 30px 50px;
	}

	.about img,
	.menu img {
		padding: 0;
		margin-bottom: 20px;
	}

	.about p,
	.menu p,
	.delivery p {
		text-align: center;
		padding: 0;
		font-size: 20px;
		width: 100%;
	}

	.delivery-container {
		width: 75%
	}

	input[type="text"],
	textarea,
	.contact-form button {
		width: 90%;
	}

	h1,
	.head-content p,
	.contact-form h1,
	.follow h1 {
		font-size: 35px;
	}
}

@media only screen and (max-width: 450px) {
	.head-content p {
		font-size: 25px;
	}

	h1,
	.contact-form h1,
	.follow h1 {
		font-size: 30px;
	}

	button {
		font-size: 20px;
	}
}

@keyframes slide {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
